h1 {
  font-size: 3.25rem;
}
h2 {
  font-size: 2rem;
}

select {
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.5rem 0rem;
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

label[for='checkbox'] {
  display: flex;
  align-items: center;
}
